body {
    text-align: center;
    font-family: 'Codystar', cursive;
    color: lightgrey;
    background-image: url("/img/stardust.png");
}

#gameBoard{
    width: 600px;
    height: 600px;
    margin: auto;
    margin-bottom: 45px;
}

.hole {
    width: 200px;
    height: 200px;
    float: left;
    border: 1px dotted lightgrey;
}

.active {
    content: url(/img/star.png);
}

.row {
    margin: auto;
}

